API_ID=23315924
API_HASH=3b39bf8e305df7b2f310ce6f53392ac6
BOT_TOKEN=5694028061:AAEElRVNrLqZ5UYgnzaxtUf2ZYfBUjQARMc
MONGO_DB_URI=mongodb+srv://deadterabaap09:dead@cluster0.3a4z5gq.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001616008828
MUSIC_BOT_NAME=Moon Music
STRING_SESSION=AQAvX2TxpOOZLSnSr7NEtXvnaSbu82x1QhoI7p_Va-_DXBBKJBhIuO6RzGFdz5d8KUqeIQkdKpLDzSuoAsxyn7iLrpqzEQQSNkED_T8qVq1JioomsqElInZd2EGtU6Y_2WUmYBMvyUOZiZ4Oo5mDLi4zIsPj6n0It15iGhJFH_CvQcBcId4Y-RQR9ioVDu1l-TGTVSctrAM-YvQOy0E4vLAH5hvyF8lyIxjrYQSFKxG2TQlu-R1eBULkphs4DnFWB8FXl-LsucNRsW_UWyXOp-O-X1g_TY08AkgRYaMKKi6Ubt7AR0qRI_N31n6ENqQyXZ1qNwPhWyEf4zorSnfBqtlYAAAAAVHFnlEA
OWNER_ID=5722601919
